
<header>

	<h2>Gallery App</h2>
	<% if current_user %>
	 <%= "Logged in as: #{current_user.email}" %>
	<%=	link_to 'Sign out', destroy_user_session_path, :method=>:delete %>
	<% else %>
		<%= link_to 'Sign in', new_user_session_path %>
	<% end %>

</header>